/* line 6, ../compass/sass/style.scss */
body {
  background-color: #7CA982;
}
/* line 17, ../compass/sass/style.scss */
body #site-wrapper .og-match {
  overflow: hidden;
  margin: 10px auto;
  width: 1075px;
}
/* line 21, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper {
  overflow: hidden;
  float: left;
}
/* line 24, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper .player-wrapper {
  overflow: hidden;
}
/* line 26, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper .player-wrapper .player {
  float: left;
  margin: 5px;
}
/* line 29, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper .player-wrapper .player .player-info {
  max-width: 205px;
}
/* line 43, ../compass/sass/style.scss */
body #site-wrapper .og-match .radiant {
  color: #243E36;
  background-color: rgba(224, 238, 198, 0.2);
}
/* line 48, ../compass/sass/style.scss */
body #site-wrapper .og-match .dire {
  color: #CC2936;
  background-color: rgba(114, 17, 33, 0.3);
}
