/* line 5, ../compass/sass/style.scss */
body {
  background-color: #7CA982;
}
/* line 16, ../compass/sass/style.scss */
body #site-wrapper .og-match {
  overflow: hidden;
  margin: 10px auto;
  width: 1075px;
}
/* line 20, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper {
  overflow: hidden;
  float: left;
}
/* line 23, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper .player-wrapper {
  overflow: hidden;
}
/* line 25, ../compass/sass/style.scss */
body #site-wrapper .og-match .side-wrapper .player-wrapper .player {
  float: left;
  margin: 5px;
}
/* line 41, ../compass/sass/style.scss */
body #site-wrapper .og-match .radiant {
  color: #243E36;
  background-color: #E0EEC6;
}
/* line 46, ../compass/sass/style.scss */
body #site-wrapper .og-match .dire {
  color: #CC2936;
}
