$radiantTextColor: #243E36;
$direTextColor: #CC2936;
$background-color: #CAFFB9;
$match-background: #AEF78E;
body{
	background-color: $background-color;
	#site-wrapper{
		#og-header{
			h1{

			}
			img{

			}
		}
		.og-match{
			overflow: hidden;
			margin: 10px auto;
			width: 1075px;
			background-color: $match-background;
			.side-wrapper{
				overflow: hidden;
				float: left;
				.player-wrapper{
					overflow: hidden;
					.player{
						float: left;
						margin: 5px;
						.player-info{
							h4{

							}
						}
						.hero-image-wrapper{
							img{

							}
						}
					}
				}
			}
			.radiant{
				color: $radiantTextColor;

			}
			.dire{
				color: $direTextColor;
			}
		}
	}
}