$radiantTextColor: #243E36;
$direTextColor: #CC2936;
$background-color: #7CA982;
$radiant-match-background: transparentize(#E0EEC6, 0.8);
$dire-match-background: transparentize(#721121, 0.8);
body{
	background-color: $background-color;
	#site-wrapper{
		#og-header{
			h1{

			}
			img{

			}
		}
		.og-match{
			overflow: hidden;
			margin: 10px auto;
			width: 1075px;
			.side-wrapper{
				overflow: hidden;
				float: left;
				.player-wrapper{
					overflow: hidden;
					.player{
						float: left;
						margin: 5px;
						.player-info{
							h4{

							}
						}
						.hero-image-wrapper{
							img{

							}
						}
					}
				}
			}
			.radiant{
				color: $radiantTextColor;
				background-color: $radiant-match-background;

			}
			.dire{
				color: $direTextColor;
				background-color: $dire-match-bakcground;
			}
		}
	}
}